@use "../../styles.scss" as *; // Re-add import for global variables

.leaflet-tooltip.plane-tooltip {
  font-size: 0.75rem;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 3px;
  padding: 3px 5px;
  border: 3px solid #333;
  text-decoration: none;
  pointer-events: auto;
  margin-left: 1.5rem;
  color: rgb(255, 255, 255);
  box-shadow: 0 1px 3px rgb(0 0 0);
  font-family: $font-mono;
  position: absolute;
  z-index: 1;
  outline: 1px solid rgb(255 255 255 / 80%);

  &.leaflet-tooltip-right:before {
    border-right-color: inherit;
    left: -2px;
  }
  .divider {
    color: rgb(255 255 255 / 50%);
  }
  .altitude {
    display: flex;
    gap: 0.25rem;
    align-items: center;

    .vertical-rate {
      font-size: 1rem;
      font-variation-settings: "FILL" 0, "wght" 325, "GRAD" 0, "opsz" 20;
    }
  }

  .plane-tooltip-link {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .none-callsign {
      color: rgb(255 255 255 / 50%);
    }

    .fi {
      width: 1.3rem;
      height: 1rem;
    }

    strong {
      font-weight: bold;
      display: flex;
      flex-direction: row;
      gap: 0.25rem;
      align-items: center;
    }
  }

  &.grounded-plane-tooltip {
    border-color: grey;
    margin-left: 1rem;
    background: #333;
  }

  &.new-plane-tooltip {
    border-color: #ff2e2e;
  }

  &.military-plane-tooltip {
    border-color: #89d138;
    z-index: 10;
  }

  &:hover {
    z-index: 1000;
    border-color: white;
  }

  .material-symbols-sharp.military-star-tooltip {
    font-size: 0.75rem;
    color: #89d138;
    font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 20;
  }
}
