[Desktop Entry]
Type=Application
Name=planes.dryl.io kiosk
Comment=Open planes.dryl.io fullscreen on login
Exec=/home/pi/bin/planes-kiosk.sh
X-GNOME-Autostart-enabled=true
