<!-- src/app/components/context-menu/context-menu.component.html -->
<div
  class="context-menu"
  [class.visible]="visible"
  [style.--left.px]="position.x"
  [style.--top.px]="position.y"
  (click)="$event.stopPropagation()"
>
  <div
    class="context-menu-item"
    *ngFor="let item of items"
    [class.disabled]="item.disabled"
    (click)="!item.disabled && onItemClick(item.action, $event)"
  >
    <span class="material-symbols-sharp icon" *ngIf="item.icon">{{
      item.icon
    }}</span>
    <span class="label">{{ item.label }}</span>
  </div>
</div>
