.overlay-container {
  position: absolute;
  top: 0.25rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: calc(100vw - 6rem);
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
  z-index: 1000;
}
