@use "../styles/plane-tooltip.scss" as *;
@use "../styles/plane-marker.scss" as *;

#map {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.home-marker {
  display: flex;
  justify-content: center;
  align-items: center;

  .material-symbols-outlined {
    color: #4caf50; // Green color for home icon
    font-size: 2rem;
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }
}

.current-location-marker {
  display: flex;
  justify-content: center;
  align-items: center;

  .material-symbols-outlined {
    color: #2196f3; // Blue color for location icon
    font-size: 2rem;
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
    filter: drop-shadow(0px 0px 2px #000);
  }
}

/* Disable pointer events on overlays while panning */
app-map.map-panning .closest-plane-overlay,
app-map.map-panning app-results-overlay,
app-map.map-panning app-input-overlay {
  pointer-events: none;
}

// Shared angle indicator overlay styles
%angle-overlay {
  position: fixed;
  -webkit-backdrop-filter: blur(0.25rem);
  backdrop-filter: blur(0.25rem);
  z-index: 1000;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  background: rgb(0 0 0 / 65%);

  &.collapsed {
    right: 3.5rem;
  }
  &:not(.collapsed) {
    right: calc(25rem + 3.5rem);
  }
}

// Shared icon styling for angle indicators
%angle-icon {
  pointer-events: none;
  border: 3px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transition: transform 0.3s ease;
  span {
    font-size: 4rem !important;
    font-variation-settings: "FILL" 0, "wght" 160, "GRAD" 0, "opsz" 20 !important;
  }
}

.sun-angle-overlay {
  @extend %angle-overlay;
  top: 0.25rem;

  .sun-angle-icon {
    @extend %angle-icon;
  }
}

.wind-angle-overlay {
  @extend %angle-overlay;
  top: 5.5rem;

  .wind-intensity-icon {
    @extend %angle-icon;
  }
}
