<!-- SVG definitions for airport circle patterns -->
<svg width="0" height="0" style="position: absolute">
  <defs>
    <pattern
      id="airportStripedPatternCyan"
      patternUnits="userSpaceOnUse"
      width="10"
      height="10"
      patternTransform="rotate(45)"
    >
      <line
        x1="0"
        y1="0"
        x2="0"
        y2="10"
        style="stroke: cyan; stroke-width: 5"
      />
    </pattern>
    <pattern
      id="airportStripedPatternGold"
      patternUnits="userSpaceOnUse"
      width="10"
      height="10"
      patternTransform="rotate(45)"
    >
      <line
        x1="0"
        y1="0"
        x2="0"
        y2="10"
        style="stroke: gold; stroke-width: 5"
      />
    </pattern>
  </defs>
</svg>

<div class="overlay-container">
  <app-closest-plane-overlay
    *ngIf="closestPlane"
    [plane]="closestPlane"
    [operator]="closestOperator"
    (selectPlane)="followNearestPlane($event)"
    [isSelected]="closestPlane.icao === highlightedPlaneIcao"
  ></app-closest-plane-overlay>

  <app-location-overlay
    [plane]="closestPlane"
    [street]="locationStreet"
    [district]="locationDistrict"
    (selectPlane)="followNearestPlane($event)"
    [isSelected]="closestPlane?.icao === highlightedPlaneIcao"
  ></app-location-overlay>
</div>

<app-input-overlay
  (resolveAndUpdate)="resolveAndUpdateFromAddress()"
  (excludeDiscountChange)="onExcludeDiscountChange()"
  (useCurrentLocation)="useCurrentLocation()"
  (coneVisibilityChange)="toggleConeVisibility($event)"
  (cloudToggleChange)="toggleCloudCover($event)"
  (rainToggleChange)="toggleRainCover($event)"
  (setHome)="setCurrentAsHome()"
  (goToHome)="goToHome()"
  (toggleDateTimeOverlays)="onToggleDateTimeOverlays()"
  (brightnessToggle)="toggleBrightness()"
  (zoomIn)="onZoomIn()"
  (zoomOut)="onZoomOut()"
  [brightness]="brightness"
  [brightnessState]="brightnessState"
  [showViewAxes]="coneVisible"
  [showDateTime]="showDateTime"
  [showCloudCover]="cloudVisible"
  [showRainCover]="rainVisible"
  [showAirportLabels]="showAirportLabels"
  [showAltitudeBorders]="showAltitudeBorders"
  (toggleAirportLabels)="onToggleAirportLabels()"
  (altitudeBordersChange)="onToggleAltitudeBorders($event)"
  [animationsEnabled]="animationsEnabled"
  (animationsEnabledChange)="onToggleAnimations($event)"
></app-input-overlay>

<!-- Pass the set of active ICAOs to the results overlay -->
<app-results-overlay
  (windowViewToggle)="onWindowViewToggle($event)"
  [skyPlaneLog]="skyPlaneLog"
  [airportPlaneLog]="airportPlaneLog"
  [seenPlaneLog]="seenPlaneLog"
  [loadingAirports]="loadingAirports"
  [highlightedPlaneIcao]="highlightedPlaneIcao"
  [activePlaneIcaos]="activePlaneIcaos"
  [clickedAirports]="clickedAirports"
  [airportCircles]="airportCircles"
  [showAltitudeBorders]="showAltitudeBorders"
  [showWindDirection]="showWindDirection"
  [showSunDirection]="showSunDirection"
  (altitudeBordersChange)="onToggleAltitudeBorders($event)"
  (windDirectionToggleChange)="onToggleWindDirection($event)"
  (sunDirectionToggleChange)="onToggleSunDirection($event)"
  (centerPlane)="followNearestPlane($event)"
  (centerAirport)="onCenterAirport($event)"
  (hoverPlane)="onHoverOverlayPlane($event)"
  (unhoverPlane)="onUnhoverOverlayPlane($event)"
></app-results-overlay>

<!-- Angle overlay above clock and temperature -->
<div
  class="info-wrapper"
  [class.dateTimeHidden]="!showDateTime"
  [class.window-view-hidden]="!showWindowView"
  [class.collapsed]="resultsOverlayComponent.collapsed"
>
  <app-angle-overlay
    [sunAngle]="sunAngle"
    [sunEventText]="sunEventText"
    [isNight]="isNight"
    [moonPhaseName]="moonPhaseName"
    [moonFraction]="moonFraction"
    [windAngle]="windAngle"
    [windStat]="windStat"
    [windSpeed]="getCurrentWindSpeed()"
    [windUnit]="getCurrentWindUnit()"
    [windDirection]="getWindFromDirection(windAngle)"
    [showWindDirection]="showWindDirection"
    [showSunDirection]="showSunDirection"
    (cycleWindUnit)="cycleWindUnit()"
  ></app-angle-overlay>
  <div class="time-temp-container" *ngIf="showDateTime">
    <app-clock></app-clock>
    <app-temperature
      [resultsCollapsed]="resultsOverlayComponent.collapsed"
    ></app-temperature>
  </div>
</div>

<!-- Window view overlay restored -->
<app-window-view-overlay
  *ngIf="showWindowView"
  [windowViewPlanes]="windowViewPlanes"
  [highlightedPlaneIcao]="highlightedPlaneIcao"
  [observerLat]="observerLat"
  [observerLon]="observerLon"
  [isAtHome]="isAtHome"
  [showAltitudeBorders]="showAltitudeBorders"
  [animationsEnabled]="animationsEnabled"
  (selectPlane)="followNearestPlane($event)"
></app-window-view-overlay>

<div id="map"></div>

<app-cone
  *ngIf="map && coneVisible"
  [map]="map"
  [lat]="currentLat"
  [lon]="currentLon"
  [distanceKm]="radiusKm"
  [isAtHome]="isAtHome"
></app-cone>
