@use "../styles/plane-tooltip.scss" as *;
@use "../styles/plane-marker.scss" as *;

#map {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.home-marker {
  display: flex;
  justify-content: center;
  align-items: center;

  .material-symbols-outlined {
    color: #4caf50; // Green color for home icon
    font-size: 2rem;
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }
}

.current-location-marker {
  display: flex;
  justify-content: center;
  align-items: center;

  .material-symbols-outlined {
    color: #2196f3; // Blue color for location icon
    font-size: 2rem;
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
    filter: drop-shadow(0px 0px 2px #000);
  }
}

/* Disable pointer events on overlays while panning */
app-map.map-panning .closest-plane-overlay,
app-map.map-panning app-results-overlay,
app-map.map-panning app-input-overlay {
  pointer-events: none;
}

.sun-angle-overlay {
  position: fixed;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  pointer-events: none;
}
