<form (submit)="onSubmit($event)" autocomplete="off">
  <div class="form-group">
    <app-input
      #addressInput
      type="text"
      label="Address"
      placeholder="Enter address to search"
      [value]="facade.currentAddress"
      (inputChange)="onAddressChange($event)"
      (focusEvent)="onAddressFocus()"
      (blurEvent)="onAddressBlur()"
      autocomplete="off"
    ></app-input>
  </div>
  <div class="form-row">
    <div class="form-group">
      <label for="searchRadius">Search Radius</label>
      <div class="input-with-unit-group">
        <input
          #searchRadiusInput
          type="text"
          id="searchRadius"
          pattern="[0-9]*\.?[0-9]*"
          inputmode="decimal"
          [value]="facade.displayRadiusValue"
          (keydown.enter)="onSubmit($event)"
          (keydown)="onRadiusKeydown($event)"
          (focus)="onRadiusFocus()"
          (blur)="onRadiusBlur()"
          (input)="onRadiusInput($event)"
        />
        <app-button
          [text]="getDistanceUnitLabel()"
          type="secondary"
          size="small"
          (click)="toggleDistanceUnit()"
        ></app-button>
      </div>
    </div>
    <div class="form-group">
      <label for="checkInterval">Check Interval</label>
      <div class="input-with-unit-group">
        <input
          #checkIntervalInput
          type="number"
          id="checkInterval"
          step="any"
          [value]="facade.displayIntervalValue"
          (change)="onIntervalChange($event)"
        />
        <app-button
          [text]="getTimeUnitLabel()"
          type="secondary"
          size="small"
          (click)="toggleTimeUnit()"
        ></app-button>
      </div>
    </div>
  </div>
  <div class="button-group">
    <app-button
      id="findButton"
      [text]="facade.scanButtonText"
      type="primary"
      nativeType="submit"
    ></app-button>
    <app-button
      id="useLocationButton"
      text="Use my current location"
      type="secondary"
      (click)="useCurrentLocation.emit()"
    ></app-button>
    <app-button
      id="setHomeButton"
      text="Set this location as home"
      type="secondary"
      (click)="setHome.emit()"
    ></app-button>
    <app-button
      id="goHomeButton"
      text="Go to home"
      type="secondary"
      (click)="goToHome.emit()"
    ></app-button>
  </div>
  <div class="last-scan-time" *ngIf="facade.lastScanTime">
    Last scan: {{ facade.lastScanTimeText }}
  </div>
  <div class="location-tracking-status" *ngIf="facade.locationUpdate.isAutoUpdateRunning()">
    Auto-location: {{ facade.lastLocationUpdateText }}
  </div>
</form>
