.closest-plane-overlay {
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  z-index: 1001;
  font-family: "JetBrains Mono", monospace;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.4);

  .divider {
    color: rgb(255 255 255 / 50%);
  }

  &:hover {
    border-color: white;
  }

  &.selected {
    border-color: cyan;
    color: cyan;
    background: linear-gradient(
        to right,
        rgba(0, 255, 255, 0.1),
        rgba(255, 0, 242, 0.1)
      ),
      rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 0 3px rgba(0, 255, 255, 0.2);
  }
}
