<div
  *ngIf="plane"
  class="closest-plane-overlay"
  [class.selected]="isSelected"
  (click)="onClick()"
  title="Center plane"
>
  <app-icon
    icon="nearby"
    variant="sharp"
    size="small"
    ariaLabel="Closest plane"
  ></app-icon>
  <span class="callsign">{{ plane.callsign || "Unknown" }}</span>
  <span class="operator" *ngIf="operator"> {{ operator }}</span> |
  <app-icon
    icon="radar"
    variant="sharp"
    size="small"
    ariaLabel="ETA"
  ></app-icon>
  <span class="distance">{{ distanceKm | number : "1.1-1" }}km </span>
  <span class="eta" *ngIf="secondsAway !== null">
    {{ formattedEta }}
  </span>
</div>
