<!-- dynamic sky background -->
<div
  *ngIf="windowCloudUrl"
  class="cloud-background"
  [ngClass]="cloudBacklightClass"
  [style.--background-image]="'url(' + windowCloudUrl + ')'"
  [style.--filter]="cloudFilter"
></div>
<div
  *ngIf="windowCloudUrl"
  class="cloud-background"
  [ngClass]="cloudBacklightClass"
  [style.--background-image]="'url(' + windowCloudUrl + ')'"
  [style.--filter]="cloudFilter"
></div>
<div
  *ngIf="windowCloudUrl"
  class="cloud-background"
  [ngClass]="cloudBacklightClass"
  [style.--background-image]="'url(' + windowCloudUrl + ')'"
  [style.--filter]="cloudFilter"
></div>
