.clock-container {
  position: fixed;
  bottom: 0.5rem;
  left: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1000;
  gap: 1rem;

  .date-overlay,
  .time-overlay {
    line-height: 1;
    background: transparent;
    color: #fff;

    pointer-events: none;
    text-shadow: -1px -1px 20px #000000, 1px -1px 20px #000000,
      -1px 1px 20px #000000, 1px 1px 10px #000000;
  }

  .date-overlay {
    font-size: 5vw;
    margin-left: 0.5rem;
    /* responsive break between weekday and day-month */
    .responsive-break {
      display: block; // show by default
    }
  }

  .time-overlay {
    font-size: 16vw;
    letter-spacing: -1vw;
    font-family: "JetBrains Mono", monospace;
  }
}
