.top-buttons {
  position: absolute;
  top: -1px;
  display: flex;
  flex-direction: column;
  z-index: 900;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid rgb(255 255 255 / 40%);
}

.left {
  left: -2px;
  top: -0.5px;
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
}

.right {
  right: -2px;
  top: -0.5px;
  border-radius: 0 0.5rem 0.5rem 0;
  border-left: none;
}

/* When overlay is collapsed, make the tab fully rounded and position it flush with the overlay */
:host-context(.collapsed) .top-buttons,
.collapsed > .top-buttons {
  position: static;
  border-color: transparent;
}
