.temperature-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  bottom: 0.5rem;
  right: calc(28rem + 0.5rem);
  z-index: 1000;
  font-size: 10rem;
  line-height: 1;
  background: transparent;
  color: #fff;
  font-family: "JetBrains Mono", monospace;
  letter-spacing: -1.5rem;
  text-shadow: -1px -1px 20px #000000, 1px -1px 20px #000000,
    -1px 1px 20px #000000, 1px 1px 10px #000000;

  .temperature-row {
    gap: 1rem;
    display: flex;
    flex-direction: row;
    margin-bottom: -1rem;

    .weather-icon {
      font-size: 10rem;
      line-height: 1;
      display: inline-block;

      ::ng-deep span.icon {
        font-size: 10rem;
        font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20;
      }
    }
  }

  .temperature-current {
    font-size: 20rem;
    margin-right: -2rem;
  }

  .weather-icon,
  .temp-high {
    font-size: 10rem;
    letter-spacing: -0.75rem;
  }

  .temp-low {
    font-size: 7.5rem;
    margin-top: 2px;
  }
}

:host(.collapsed) .temperature-container {
  right: 2rem;
}

.temperature-range {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
