<app-plane-list-item-top
  [plane]="plane"
  [listType]="listType"
  [highlightedPlaneIcao]="highlightedPlaneIcao"
  [hoveredPlaneIcao]="hoveredPlaneIcao"
  [followedPlaneIcao]="followedPlaneIcao"
  [activePlaneIcaos]="activePlaneIcaos"
  [distanceKm]="distanceKm"
  [distanceUnit]="distanceUnit"
  [now]="now"
  (centerPlane)="onCenterPlane($event)"
  (centerAirport)="onCenterAirport($event)"
  (toggleSpecial)="onToggleSpecial($event)"
  (hoverPlane)="hoverPlane.emit(plane)"
  (unhoverPlane)="unhoverPlane.emit(plane)"
></app-plane-list-item-top>

<app-plane-list-item-bottom
  [plane]="plane"
  (filterPrefix)="onFilter($event)"
></app-plane-list-item-bottom>
