<!-- dynamic sky background -->
<div
  *ngIf="windowCloudUrl"
  class="cloud-background"
  [ngClass]="cloudBacklightClass"
  [style.backgroundImage]="'url(' + windowCloudUrl + ')'"
  [style.filter]="cloudFilter"
></div>
<div
  *ngIf="windowCloudUrl"
  class="cloud-background"
  [ngClass]="cloudBacklightClass"
  [style.backgroundImage]="'url(' + windowCloudUrl + ')'"
  [style.filter]="cloudFilter"
></div>
<div
  *ngIf="windowCloudUrl"
  class="cloud-background"
  [ngClass]="cloudBacklightClass"
  [style.backgroundImage]="'url(' + windowCloudUrl + ')'"
  [style.filter]="cloudFilter"
></div>
