@use "base";

.leaflet-tooltip.plane-tooltip {
  &.grounded-plane-tooltip:not(.new-plane-tooltip) {
    border-color: #636363;
    margin-left: 1.5rem;
    background: #333;
  }

  &.new-plane-tooltip {
    border-color: base.$new-plane-color;
  }

  &.military-plane-tooltip {
    border-color: #89d138;
  }

  &:hover:not(.special-plane-tooltip):not(.followed-plane-tooltip),
  &.hovered-tooltip:not(.special-plane-tooltip):not(.followed-plane-tooltip) {
    z-index: 1000;
    border-color: #fff;
  }

  &.highlighted-tooltip:not(.followed-plane-tooltip):not(.special-plane-tooltip) {
    z-index: 1000;
    border-color: #fff;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2);
    color: #fff;

    a {
      color: #fff;
    }
  }

  &.special-plane-tooltip {
    border-color: gold;
    z-index: 10;

    &:hover,
    &.hovered-tooltip {
      border-color: gold;
    }
  }

  .material-symbols-sharp {
    font-size: 0.75rem;
    line-height: 1;
    font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 20;

    &.military-star-tooltip {
      color: #89d138;
    }

    &.special-star-tooltip {
      color: gold;
    }
  }

  &.followed-plane-tooltip {
    box-shadow: 0 0 0px 3px #00ffff7d;
    color: base.$followed-plane-color;
    z-index: 1000;

    &:hover {
      border-color: base.$followed-plane-color;
      color: base.$followed-plane-color;
    }

    .callsign-text:hover {
      color: base.$followed-plane-color;
    }
  }

  &.altitude-bordered-tooltip {
    &:not(.special-plane-tooltip):not(.followed-plane-tooltip) {
      &:hover,
      &.hovered-tooltip,
      &.highlighted-tooltip {
        border-color: inherit;
      }
    }
  }

  &.military-plane-tooltip.followed-plane-tooltip.highlighted-tooltip {
    a {
      color: #89d138;
    }
  }
}
