@use "../operator-symbol" as op;

.leaflet-tooltip.airport-tooltip {
  @extend .leaflet-tooltip;
  @extend .plane-tooltip;
  pointer-events: none;
  margin-left: 0;
  text-align: center;
  font-family: "Instrument Sans", sans-serif;
  backdrop-filter: blur(0.5rem);
}

.leaflet-tooltip.plane-tooltip.leaflet-tooltip-left {
  top: -3rem;
  padding: 0.5rem;
  left: -2rem;
  border-radius: 50%;
  border-color: #989898;

  &.leaflet-tooltip-left:before {
    content: "";
    position: absolute;
    top: 36px;
    right: 8px;
    width: 0;
    filter: drop-shadow(-1px -1px 0px black);
    transform: rotate(180deg);
    height: 0;
    border: 11px solid transparent;
    border-top-color: rgba(255, 255, 255, 0.5);
    border-left-color: rgba(255, 255, 255, 0.5);
  }

  &.leaflet-tooltip-left:after {
    content: "";
    position: absolute;
    top: 30px;
    right: -3px;
    transform: rotate(-180deg);
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: inherit;
    border-left-color: inherit;
  }

  &.grounded-plane-tooltip {
    margin-left: -0.5rem;
    top: -2.75rem;

    .operator-symbol {
      @include op.operator-symbol(0, 1.5rem);
    }
  }
}

.leaflet-div-icon.invisible-marker {
  background: transparent;
  border: none;
  box-shadow: none;
  pointer-events: none;
  width: 1px;
  height: 1px;
}

.leaflet-tooltip .operator-symbol {
  @include op.operator-symbol(0, 2rem);
}

.plane-tooltip-left-variant .operator-symbol {
  @include op.operator-symbol(0, 2rem);
}
